@charset "utf-8";
/* CSS Document */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a {
	color: rgba(98,98,98,1);	
	transition: opacity, 0.5s;
}

a:hover {
	opacity: 0.5;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

div {
	display: block;
	text-align: center;
	margin: auto;	
}
html {
	height: 100%;
}

body {
	height: 100%;
	background: rgba(245,245,245,1);
	font-size: small;
	font-family: 'Open Sans', sans-serif, Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, "Osaka", "ＭＳ Ｐゴシック", "MS PGothic";
	line-height: 100%;
}

/* basic */


.clearfix {
  overflow: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.inline {
	display: inline-block;
}

.block {
	display: block;
}


.mb20 {
	margin-bottom: 20px;
}


.mb30 {
	margin-bottom: 30px;
}

.mb50 {
	margin-bottom: 50px;
}

.mb100 {
	margin-bottom: 100px;
}


.mt20 {
	margin-top: 20px;
}


.mt30 {
	margin-top: 30px;
}

.mt50 {
	margin-top: 50px;
}

.mt100 {
	margin-top: 100px;
}

.mr0 {
  margin-right: 0px;
}

.ml0 {
  margin-left: 0px;
}

.pdg20 {
  padding:20px; 
}

/* basic */



/*data-filter section start*/

/* Controls
---------------------------------------------------------------------- */

.controls {
    text-align: center;
}

.control {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 14px;
    color: #999999;
}

.control[data-filter]:after {
    position: absolute;
    color: #444444;
}

.mixitup-control-active {
    color: #444444;
}



/* Container
---------------------------------------------------------------------- */

.container {
    text-align: justify;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    height: 300px;
    width: 300px;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
}


/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}


/*data-filter section end*/

/* end */